.Tilt{
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
    border-radius: 3px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left:15px
}

.Tilt-inner{
    padding-top: 30px;
}